@model ListUserDTO
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}
@section LoginUser{

    <a class="fly-nav-avatar" href="javascript:;">
        <cite class="layui-hide-xs">@Model.NickName</cite>
        <img src="@Model.HeadImgSrc">
    </a>
}
<div class="fly-panel fly-panel-user" pad20>
    @if (!Model.IsActive)
    {
        <div class="fly-msg" style="margin-top: 15px;">
            您的邮箱尚未验证，这比较影响您的帐号安全，<a href="/user/active">立即去激活？</a>
        </div>
    }

    <div class="layui-tab layui-tab-brief" lay-filter="user">
        <ul class="layui-tab-title" id="LAY_mine">
            <li data-type="mine-jie" id="index" lay-id="index" class="layui-this">我发的帖（<span id="sendPostCount">0</span>）</li>
            <li data-type="collection" data-url="/collection/find/" lay-id="collection" id="collection">我收藏的帖（<span id="collectionPostCount">0</span>）</li>
        </ul>
        <div class="layui-tab-content" style="padding: 20px 0;">
            <div class="layui-tab-item layui-show">
                <ul class="mine-view jie-row" id="sendPost">
                    
                </ul>
                <div id="LAY_page">
                    <div class="layui-box layui-laypage layui-laypage-default" id="layui-laypage-1">

                    </div>
                </div>
            </div>
            <div class="layui-tab-item">
                <ul class="mine-view jie-row" id="collectionPost">

                </ul>
                <div id="LAY_page1">
                    <div class="layui-box layui-laypage layui-laypage-default" id="layui-laypage-2">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--加载用户收藏的帖子-->
<script id="LoadCollectionPost" type="text/html">
    {{#  layui.each(d.posts, function(index, item){ }}
    <li>
        <a class="jie-title" href="/post/detail?postId={{item.id}}" target="_blank">{{item.title}}</a>
        <i>发帖时间{{item.createTime}}</i>
    </li>
    {{#  }); }}
    {{#  if(d.posts.length === 0){ }}
    <div class="fly-none" style="min-height: 50px; padding:30px 0; height:auto;"><i style="font-size:14px;">没有收藏任何帖子</i></div>
    {{#  } }}
</script>

<!--加载用户发的帖子-->
<script id="LoadSendPost" type="text/html">
    {{#  layui.each(d.posts, function(index, item){ }}
    <li>
        <a class="jie-title" href="/post/detail?postId={{item.id}}" target="_blank">{{item.title}}</a>
        <i>{{item.createTime}}</i>
        <a class="mine-edit" href="/jie/edit/8116">编辑</a>
        <em>{{d.lookCounts[index]}}阅/{{item.commentCount}}答</em>
    </li>
    {{#  }); }}
    {{#  if(d.posts.length === 0){ }}
    <div class="fly-none" style="min-height: 50px; padding:30px 0; height:auto;"><i style="font-size:14px;">没有数据</i></div>
    {{#  } }}
</script>
@section scripts{
<script src="~/js/FrontAjax.js"></script>
    <script>

        layui.use(['jquery', 'laytpl', 'layer'], function () {
            let $ = layui.jquery,
                laytpl = layui.laytpl,
                layer = layui.layer;
            $('#userIndex').addClass('layui-this');

            //获取用户发的帖子
            function LoadSendPosts(pageIndex,pageDataCount) {
                FrontLoadAjax($, layer, "/user/LoadUserSendPost", { 'pageIndex': pageIndex, 'pageDataCount': pageDataCount }, function (data) {
                    $('#sendPostCount').text(data.posts.totalCount);
                    let loadSendPostHtml = LoadSendPost.innerHTML
                        , sendPostView = document.getElementById('sendPost');
                    laytpl(loadSendPostHtml).render({ 'posts': data.posts.datas,'lookCounts':data.lookCounts}, function (html) {
                        sendPostView.innerHTML = html;
                    });
                    let html = AjaxPage(data.posts.totalCount,pageIndex,pageDataCount,5,'sendPageA');
                    $('#layui-laypage-1').html(html);
                    $('.sendPageA').click(function () {
                        LoadSendPosts($(this).attr("data-page"),pageDataCount);
                        return false;
                    });
                })
            }
            //ajax分页页码
            function AjaxPage(dataCount, pageIndex, pageDataCount, showPageCount,className) {
                if (dataCount < pageDataCount) {
                    return "";
                }
                let pageCount = Math.ceil(dataCount / pageDataCount);
                if (pageIndex < 1 || pageIndex > pageCount) {
                    throw new Error("pageIndex不能小于1，且不能大于总数量")
                }
                let startPage = Math.max(1, (pageIndex - Math.floor(showPageCount / 2)));
                let endPage = Math.min(pageCount, (pageIndex + Math.floor(showPageCount / 2)));
                let html = "";
                if (pageIndex > showPageCount) {
                    html += '< a href = "javascript:;" class="layui-laypage-prev" class="commentPage" data-page="1">首页</a >< a href = "javascript:;" class="layui-laypage-prev" class="' + className+'" data-page="' + (pageIndex - 1) + '">上一页</a >';
                }
                for (var i = startPage; i <= endPage; i++) {
                    if (i == pageIndex) {
                        html += '<span class="layui-laypage-curr"><em class="layui-laypage-em"></em><em>' + i + '</em></span>';
                    } else {
                        html += "<a href='javascript:;' class='" + className+"' data-page='" + i + "'>" + i + "</a>";
                    }
                }
                if (pageIndex < pageCount - Math.floor(showPageCount / 2)) {
                    html += '<a href = "javascript:;" class="layui-laypage-next"  class="' + className + '" data-page="' + (pageIndex + 1) + '">下一页</a ><a href = "javascript:;" class="layui-laypage-prev" class="' + className+'" data-page="' + pageCount + '">尾页</a >';
                }
                return html;
            };


            //获取用户收藏的帖子
            function LoadCollectionPosts(pageIndex, pageDataCount) {
                FrontLoadAjax($, layer, "/user/LoadCollectionPost", { 'pageIndex': pageIndex, 'pageDataCount': pageDataCount }, function (data) {
                    $('#collectionPostCount').text(data.totalCount);
                    let LoadCollectionPostHtml = LoadCollectionPost.innerHTML
                        , collectionPostView = document.getElementById('collectionPost');
                    laytpl(LoadCollectionPostHtml).render({ 'posts': data.datas}, function (html) {
                        collectionPostView.innerHTML = html;
                    });
                    let html = AjaxPage(data.totalCount, pageIndex, pageDataCount, 5, 'collectionPageA');
                    $('#layui-laypage-2').html(html);
                    $('.collectionPageA').click(function () {
                        LoadSendPosts($(this).attr("data-page"), pageDataCount);
                        return false;
                    });
                })
            }
            LoadCollectionPosts(1, 10);
            LoadSendPosts(1, 10);
        });
    </script>
}
