
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>登入</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="NoRain论坛">
    <meta name="description" content="NoRain论坛是一个供学习交流的论坛">
    <link rel="stylesheet" href="~/layui/css/layui.css">
    <link rel="stylesheet" href="~/css/global.css">
</head>
<body>

    <div class="fly-header layui-bg-black">
        <div class="layui-container">
            <a class="fly-logo" href="/">
                <img src="~/images/logo.png" alt="layui">
            </a>
            <ul class="layui-nav fly-nav layui-hide-xs">
                <li class="layui-nav-item layui-this">
                    <a href="/"><i class="iconfont icon-jiaoliu"></i>交流</a>
                </li>

            </ul>

            <ul class="layui-nav fly-nav-user" id="islogin">

                <li class="layui-nav-item layui-hide" id="loginShow">
                    <a class="fly-nav-avatar" href="javascript:;">
                        <cite class="layui-hide-xs" id="loginUser"></cite>
                        <img id="loginUserImg" src="#">
                    </a>
                    <dl class="layui-nav-child">
                        <dd>
                            <a href="/user/set"><i class="layui-icon">&#xe620;</i>基本设置</a>
                        </dd>
                        <dd>
                            <a href="/user/message"><i class="iconfont icon-tongzhi" style="top: 4px;"></i>我的消息</a>
                        </dd>
                        <dd>
                            <a href="/user/home"><i class="layui-icon" style="margin-left: 2px; font-size: 22px;">&#xe68e;</i>我的主页</a>
                        </dd>
                        <hr style="margin: 5px 0;">
                        <dd><a href="javascript:void();" id="exit" style="text-align: center;">退出</a></dd>
                    </dl>
                </li>

            </ul>
        </div>
    </div>
    @RenderBody()

    <div class="fly-footer">
        <p><a href="http://www.norain.top/" target="_blank">NoRain社区</a> 2017 &copy; <a href="https://gitee.com/WLM-Team" target="_blank">万纳出品</a></p>
        <p>
            <a href="https://home.cnblogs.com/u/norain/" target="_blank">作者博客园</a>
            <a href="https://github.com/MapleWithoutWords" target="_blank">作者GitHub</a>
        </p>
    </div>

    <script src="~/layui/layui.js"></script>
    <script src="~/js/Ajax.js"></script>
    <script>
        layui.cache.page = '';
        layui.cache.user = {
            username: '游客'
            , uid: -1
            , avatar: '../res/images/avatar/00.jpg'
            , experience: 83
            , sex: '男'
        };
        layui.config({
            version: "3.0.0"
            , base: '/mods/' //这里实际使用时，建议改成绝对路径
        }).extend({
            fly: 'index'
            }).use('fly');
        layui.use(['jquery', 'laytpl', 'layer'], function () {
            var $ = layui.jquery,
                laytpl = layui.laytpl,
                layer = layui.layer;
            $('#exit').click(function () {
                $.ajax({
                    url: "/home/exit",
                    type: "post",
                    dataType: "json",
                    success: function (res) {
                        if (res.status == "ok") {
                            layer.msg("退出成功！", { icon: 1, time: 1000 });
                            location.reload();
                        } else {
                            layer.msg("退出失败！", { icon: 2, time: 1000 });
                        }
                    }
                });
            });
            //获取登录用户
            $.ajax({
                url: "/home/GetLoginUser",
                type: "post",
                dataType: "json",
                success: function (res) {
                    if (res.status == "ok") {
                        $('#loginShow').removeClass('layui-hide');
                        $('#loginUser').text(res.data.nickName);
                        $('#loginUserImg').attr("src", res.data.headImgSrc);
                    } else {
                        $('#islogin').html('<li class="layui-nav-item"><a class="iconfont icon-touxiang layui-hide-xs" href="/logn/index"></a></li><li class="layui-nav-item"><a href="/login/index">登入</a></li><li class="layui-nav-item"><a href="/register/index">注册</a></li>');
                    }
                }
            });



            $(document).ajaxError(function (evt, req, settings) {
                if (req && (req.status === 200 || req.status === 0)) { return false; }
                location.href = "/error/error500";
            });
        });
    </script>
    @RenderSection("scripts", false)
</body>
</html>