
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Error500</title>
    <link rel="stylesheet" href="~/layui/css/layui.css">
</head>
<body>
    <img src="/images/500.gif" alt="服务器错误"  height="100%" width="100%"/>
</body>
</html>
