@model List<ListRolePermissionDTO>

<section class="layui-larry-box">
    <div class="larry-personal">
        <!--<header class="larry-personal-tit">
        <span>添加管理员</span>
    </header> /header -->
        <div class="larry-personal-body clearfix">
            <form class="layui-form col-lg-5" id="addForm">
                <div class="layui-form-item">
                    <label class="layui-form-label">管理员姓名</label>
                    <div class="layui-input-block">
                        <input type="text" name="Name" autocomplete="off" class="layui-input" placeholder="请输入管理员姓名">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">电话号码</label>
                    <div class="layui-input-block">
                        <input type="text" name="PhoneNum" lay-verify="required" autocomplete="off" class="layui-input " placeholder="请输入管理员电话号码">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">年龄</label>
                    <div class="layui-input-block">
                        <input type="number" name="Age" lay-verify="required" autocomplete="off" class="layui-input " placeholder="请输入管理员年龄">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">密码</label>
                    <div class="layui-input-block">
                        <input type="password" name="Password" lay-verify="required" autocomplete="off" class="layui-input" placeholder="输入密码">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">确认密码</label>
                    <div class="layui-input-block">
                        <input type="password" name="Password" lay-verify="required" autocomplete="off" class="layui-input" placeholder="输入确认密码">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">性别</label>
                    <div class="layui-input-block">
                        <input type="radio" name="Gender" value="true" title="男" checked=""><div class="layui-unselect layui-form-radio layui-form-radioed"><i class="layui-anim layui-icon"></i><span>男</span></div>
                        <input type="radio" name="Gender" value="false" title="女"><div class="layui-unselect layui-form-radio"><i class="layui-anim layui-icon"></i><span>女</span></div>
                    </div>
                </div>


               

                <div class="layui-form-item">
                    <label class="layui-form-label">角色</label>
                    <div class="layui-input-block">
                        @foreach (var item in Model)
                        {
                            <input type="checkbox" value="@item.Id" name="Ids" title="@item.Name">
                        }
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit="" lay-filter="addSubmit">立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
@section scripts{
<script src="~/js/Ajax.js"></script>
    <script>
        var appConfig = {};

        layui.use(['form', 'layer', 'jquery'], function () {
            var form = layui.form(),
                layer = parent.layer === undefined ? layui.layer : parent.layer,
                $ = layui.jquery;
            form.on('submit(addSubmit)', function (data) {
                console.log(data.field)
                var json = $("#addForm").serialize();
                noRainAJAX($, layer, "/AdminUser/Add", json, "添加成功");
                
                return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
            });
        });
    </script>
}
