@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NoRainForum后台管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <!-- load css -->
    <link rel="stylesheet" type="text/css" href="/common/layui/css/layui.css" media="all">
    <link rel="stylesheet" type="text/css" href="/common/global.css" media="all">
    <link rel="stylesheet" type="text/css" href="/css/adminstyle.css" media="all">
</head>
<body>
    <div class="layui-layout layui-layout-admin" id="layui_layout">
        <!-- 顶部区域 -->
        <div class="layui-header header header-demo">
            <div class="layui-main">
                <!-- logo区域 -->
                <div class="admin-logo-box">
                    <a class="logo" href="/" title="logo">No Rain Forum</a>
                    <div class="larry-side-menu">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                    </div>
                </div>

                <!-- 右侧导航 -->
                <ul class="layui-nav larry-header-item">
                    <li class="layui-nav-item" lay-unselect="">

                        <a href="javascript:;">
                            <img src="https://tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg">
                            <cite>超级管理员</cite>
                            <span class="layui-nav-more"></span>
                        </a>
                        <dl class="layui-nav-child layui-anim layui-anim-upbit">
                            <dd><a lay-href="/Home/PersonalInfo">基本资料</a></dd>
                            <dd><a lay-href="/AdminUser/ChangePwd">修改密码</a></dd>
                            <hr />
                            <dd layadmin-event="logout" style="text-align: center;"><a>退出</a></dd>
                        </dl>
                    </li>

                </ul>
            </div>
        </div>
        <!-- 左侧侧边导航开始 -->
        <div class="layui-side layui-side-bg layui-larry-side" id="larry-side">
            <div class="layui-side-scroll" id="larry-nav-side" lay-filter="side">

                <!-- 左侧菜单 -->
                <ul class="layui-nav layui-nav-tree">
                    <li class="layui-nav-item layui-this">
                        <a href="javascript:;" data-url="/Main/Main">
                            <i class="iconfont icon-home1" data-icon='icon-home1'></i>
                            <span>后台首页</span>
                        </a>
                    </li>
                    <!-- 个人信息 -->
                    <li class="layui-nav-item">
                        <a href="javascript:;">
                            <i class="iconfont icon-jiaoseguanli"></i>
                            <span>我的面板</span>
                            <em class="layui-nav-more"></em>
                        </a>
                        <dl class="layui-nav-child">
                            <dd>
                                <a href="javascript:;" data-url="/Home/PersonalInfo">
                                    <i class="iconfont icon-geren1" data-icon='icon-geren1'></i>
                                    <span>个人信息</span>
                                </a>
                            </dd>
                            <dd>
                                <a href="javascript:;" data-url="/AdminUser/ChangePwd">
                                    <i class="iconfont icon-iconfuzhi01" data-icon='icon-iconfuzhi01'></i>
                                    <span>修改密码</span>
                                </a>
                            </dd>
                        </dl>
                    </li>
                    <!-- 管理员管理 -->
                    <li class="layui-nav-item">
                        <a href="javascript:;">
                            <i class="iconfont icon-jiaoseguanli2"></i>
                            <span>管理员管理</span>
                            <em class="layui-nav-more"></em>
                        </a>
                        <dl class="layui-nav-child">

                            <dd>
                                <a href="javascript:;" data-url="/Permission/List">
                                    <i class="iconfont icon-quanxianxiugai" data-icon='icon-yonghu1'></i>
                                    <span>权限项管理</span>
                                </a>
                            </dd>
                            <dd>
                                <a href="javascript:;" data-url="/Role/List">
                                    <i class="iconfont icon-jiaoseguanli4" data-icon='icon-jiaoseguanli4'></i>
                                    <span>角色管理</span>
                                </a>
                            </dd>
                            <dd>
                                <a href="javascript:;" data-url="/AdminUser/List">
                                    <i class="iconfont icon-jiaoseguanli2" data-icon='icon-quanxian2'></i>
                                    <span>人员管理</span>
                                </a>
                            </dd>
                        </dl>
                    </li>

                    <!-- 商品管理 -->
                    <li class="layui-nav-item">
                        <a href="javascript:;">
                            <i class="iconfont icon-word"></i>
                            <span>帖子</span>
                            <em class="layui-nav-more"></em>
                        </a>
                        <dl class="layui-nav-child">

                            <dd>
                                <a href="javascript:;" data-url="/Post/List">
                                    <i class="iconfont icon-quanxianxiugai" data-icon='icon-yonghu1'></i>
                                    <span>帖子管理</span>
                                </a>
                            </dd>
                            <dd>
                                <a href="javascript:;" data-url="/PostType/List">
                                    <i class="iconfont icon-shengchengbaogao" data-icon='icon-yonghu1'></i>
                                    <span>帖子类别管理</span>
                                </a>
                            </dd>
                            <dd>
                                <a href="javascript:;" data-url="/PostStatus/List">
                                    <i class="iconfont icon-tags" data-icon='icon-yonghu1'></i>
                                    <span>帖子状态管理</span>
                                </a>
                            </dd>
                        </dl>
                    </li>
                    <!--前台用户管理-->
                    <li class="layui-nav-item">
                        <a href="javascript:;">
                            <i class="iconfont icon-jiaoseguanli2"></i>
                            <span>前台数据管理</span>
                            <em class="layui-nav-more"></em>
                        </a>
                        <dl class="layui-nav-child">


                            <dd>
                                <a href="javascript:;" data-url="/User/List">
                                    <i class="iconfont icon-jiaoseguanli2" data-icon='icon-quanxian2'></i>
                                    <span>前端人员管理</span>
                                </a>
                            </dd>
                        </dl>
                    </li>

                    <!-- 系统设置 -->
                    <li class="layui-nav-item">
                        <a href="javascript:;">
                            <i class="iconfont icon-xitong"></i>
                            <span>系统管理</span>
                            <em class="layui-nav-more"></em>
                        </a>
                        <dl class="layui-nav-child">
                            <dd>
                                <a href="javascript:;" data-url="#">
                                    <i class="iconfont icon-rizhi" data-icon='icon-zhandianguanli1'></i>
                                    <span>日志管理</span>
                                </a>
                            </dd>
                            <dd>
                                <a href="javascript:;" data-url="/Setting/List">
                                    <i class="iconfont icon-zhandianguanli1" data-icon='icon-zhandianguanli1'></i>
                                    <span>配置键值管理</span>
                                </a>
                            </dd>

                        </dl>
                    </li>

                </ul>
            </div>
        </div>

        <!-- 左侧侧边导航结束 -->
        <!-- 右侧主体内容 -->
        <div class="layui-body" id="larry-body" style="bottom: 0;border-left: solid 2px #2299ee;">
            <div class="layui-tab layui-tab-card larry-tab-box" id="larry-tab" lay-filter="demo" lay-allowclose="true">
                <div class="go-left key-press pressKey" id="titleLeft" title="滚动至最右侧">
                    <i class="larry-icon larry-weibiaoti6-copy"></i>
                </div>
                <ul class="layui-tab-title">
                    <li class="layui-this" id="admin-home"><i class="iconfont icon-diannao1"></i><em>后台首页</em></li>
                </ul>
                <div class="go-right key-press pressKey" id="titleRight" title="滚动至最左侧">
                    <i class="larry-icon larry-right"></i>
                </div>
                <ul class="layui-nav closeBox">
                    <li class="layui-nav-item">
                        <a href="javascript:;"><i class="iconfont icon-caozuo"></i> 页面操作</a>
                        <dl class="layui-nav-child">
                            <dd>
                                <a href="javascript:;" id="refresh_iframe" class="refresh refreshThis">
                                    <i class="layui-icon">&#x1002;</i>
                                    刷新当前
                                </a>
                            </dd>
                            <dd>
                                <a href="javascript:;" id="closePageOther" class="closePageOther">
                                    <i class="iconfont icon-prohibit"></i>
                                    关闭其他
                                </a>
                            </dd>
                            <dd>
                                <a href="javascript:;" id="closePageAll" class="closePageAll"><i class="iconfont icon-guanbi"></i> 关闭全部</a>
                            </dd>
                        </dl>
                    </li>
                </ul>
                <div class="layui-tab-content" style="min-height: 150px; ">
                    <div class="layui-tab-item layui-show">
                        <iframe class="larry-iframe" data-id='0' src="/Main/Main"></iframe>
                    </div>
                </div>
            </div>
        </div>
        <!-- 底部区域 -->
        <div class="layui-footer layui-larry-foot" id="larry-footer">
            <div class="layui-mian">
                <p class="p-admin">
                    <span>2018 &copy;</span>
                    xxxxxxxxxxxxxx版权所有
                </p>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="~/common/layui/layui.js"></script>
    <script type="text/javascript" src="/js/larry.js"></script>
    <script type="text/javascript" src="/js/index.js"></script>
    <script>
        layui.use(['jquery', 'layer', 'element'], function () {
            window.jQuery = window.$ = layui.jquery;
            window.layer = layui.layer;
            var element = layui.element();
            $("#closePageAll").click(function () {
                $(".layui-tab-content .layui-tab-item").each(function () {
                    if ($(this).hasClass('layui-show')) {
                        $(this).children('iframe')[0].contentWindow.window.close(true);
                    }
                });
            });
        });
    </script>
</body>
</html>