@{
    Layout = "~/Views/Shared/empty.cshtml";
}

<div class="bg"></div>
<div class="container">
    <div class="line bouncein">
        <div class="xs6 xm4 xs3-move xm4-move">
            <div style="height:150px;"></div>
            <div class="media media-y margin-big-bottom">
            </div>
            <form id="loginForm" class="layui-form">
                <div class="panel loginbox">
                    <div class="text-center margin-big padding-big-top">
                        <h1>No Rain Forum后台管理中心</h1>
                    </div>
                    <div class="panel-body" style="padding:30px; padding-bottom:10px; padding-top:10px;">
                        <div class="form-group">
                            <div class="field field-icon-right">
                                <input type="text" lay-verify="phone" class="input input-big" name="PhoneNum" id="username" placeholder="登录账号" />
                                <span class="icon icon-user margin-small"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="field field-icon-right">
                                <input type="password" lay-verify="required" class="input input-big" name="Password" id="password" placeholder="登录密码" />
                                <span class="icon icon-key margin-small"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="field">
                                <input type="text" lay-verify="required" class="input input-big" name="ValidCode" placeholder="填写右侧的验证码" />
                                <a href="javascript:void();">
                                    <img src="/home/GetValidCode" id="code" class="passcode" style="height:43px;cursor:pointer;" onClick="this.src=this.src+'?t='+new Date()+Math.random()">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div style="padding:30px;">
                        <input type="submit" lay-submit lay-filter="formDemo" class="button button-block bg-main text-big input-big" value="登录">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/common/layui/layui.js"></script>
    <script>
        layui.use(['layer', 'jquery', 'form'], function () {
            var layer = layui.layer
                , $ = layui.jquery,
                form = layui.form();

            form.on('submit(formDemo)', function (data) {
                var index = layer.load(1, {
                    shade: [0.1, '#fff'] //0.1透明度的白色背景
                });
                let json = $('#loginForm').serialize();
                $.ajax({
                    url: "/home/login",
                    dataType: "json",
                    data: json,
                    type: "post",
                    success: function (res) {
                        console.log(res);
                        if (res.status == "ok") {
                            Location.href = "/home/Index";
                        }
                        else if (res.status == "error") {
                            layer.msg(res.errorMsg, { icon: 2, time: 1000 });
                            $("#code").click();
                        }
                        else if (res.status == "redirect") {
                            location.href = res.data;
                        } else {
                            layer.msg("未知错误", { icon: 2, time: 1000 });
                            $("#code").click();
                        }
                        layer.close(index);
                    },
                    error: function () {
                        layer.msg("网络错误", { icon: 2, time: 1000 });
                        $("#code").click();
                        layer.close(index);
                    }
                });
                return false;
            });
        });
    </script>
}