
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Common.cshtml";
}

<div class="layui-container fly-marginTop">
    <div class="fly-panel fly-panel-user" pad20>
        <div class="layui-tab layui-tab-brief" lay-filter="user">
            <ul class="layui-tab-title">
                <li><a href="/login/index">登入</a></li>
                <li class="layui-this">注册</li>
            </ul>
            <div class="layui-form layui-tab-content" id="LAY_ucm" style="padding: 20px 0;">
                <div class="layui-tab-item layui-show">
                    <div class="layui-form layui-form-pane">
                        <form method="post" id="loginForm">
                            <div class="layui-form-item">
                                <label for="L_username" class="layui-form-label">昵称</label>
                                <div class="layui-input-inline">
                                    <input type="text" id="L_username" name="nickName" required lay-verify="required" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label for="L_username" class="layui-form-label">性别</label>
                                <div class="layui-input-inline">
                                    <input type="radio" checked="checked" name="Gender" value="true" title="男">
                                    <input type="radio" name="Gender" value="false" title="女">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label for="L_pass" class="layui-form-label">密码</label>
                                <div class="layui-input-inline">
                                    <input type="password" id="L_pass" name="Password" required lay-verify="pass" autocomplete="off" class="layui-input">
                                </div>
                                <div class="layui-form-mid layui-word-aux">6到16个字符</div>
                            </div>
                            <div class="layui-form-item">
                                <label for="L_repass" class="layui-form-label">确认密码</label>
                                <div class="layui-input-inline">
                                    <input type="password" id="L_repass" required lay-verify="equalPs" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label for="L_email" class="layui-form-label">邮箱</label>
                                <div class="layui-input-inline">
                                    <input type="text" id="L_email" name="Email" required lay-verify="email" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label for="L_vercode" class="layui-form-label">邮箱验证码</label>
                                <div class="layui-input-inline">
                                    <input type="text" id="L_vercode" name="EmailCode" required lay-verify="required" placeholder="请填写邮箱验证码" autocomplete="off" class="layui-input">
                                </div>
                                <div class="layui-form-inline">
                                    <button class="layui-btn layui-btn-radius" type="button" id="btnGetEmailCode">获取邮箱验证码</button>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <button class="layui-btn" lay-filter="register" lay-submit>立即注册</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--弹窗内容 star-->
<div id="loginmodal" class="site-text site-block" style="display:none;">
    <form class="layui-form" id="sendForm">
        <div class="layui-form-item"></div>
        <div class="layui-form-item">
            <label class="layui-form-label">邮箱</label>
            <div class="layui-input-inline">
                <input type="text" id="recipientEmail" name="RecipientEmail" required lay-verify="email" autocomplete="off" class="layui-input layui-disabled">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">验证码</label>
            <div class="layui-input-inline">
                <input type="text" name="ValidCode" required lay-verify="required" placeholder="请输入验证码" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-input-inline">
                <a href="javascript:void();"><img src="/Home/GetValidCode" style="height:40px;" id="imgcode" onclick="this.src=this.src+'?t='+new Date()+Math.random()" /></a>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formDemo">发送</button>
            </div>
        </div>
    </form>
</div>
<!--弹窗内容 end-->

@section scripts{
    <script type="text/javascript">
        layui.use(['form','jquery', 'layer'], function () {
            var $ = layui.jquery,
                form = layui.form,
                layer = layui.layer;
            //注册用户
            form.on('submit(register)', function (data) {
                var json = $("#loginForm").serialize();
                noRainAJAX($, layer, "/register/index", json);
                return false;
            });
            //发送邮箱验证码
            form.on('submit(formDemo)', function (data) {
                var json = $("#sendForm").serialize();
                var emailIndex = layer.load(1, {
                    shade: [0.1, '#fff'] //0.1透明度的白色背景
                });
                $.ajax({
                    url: "/register/SendEmailCode",
                    data: json,
                    type: 'post',
                    dataType: "json",
                    success: function (res) {
                        if (res.status == "ok") {
                            layer.msg("发送成功", {icon:1,time:1000});
                        } else if (res.status == "error") {
                            layer.msg(res.errorMsg, { icon: 2, time: 1500 });
                        } else {
                            layer.msg("未知的错误", { icon: 2, time: 1500 });
                        }
                        //关闭弹窗，禁用发送邮箱按钮
                        layer.close(index);
                        layer.close(emailIndex);
                        $('#imgcode').click();
                        var time = 60;
                        let getEmailCodeBtn = $('#btnGetEmailCode');
                        getEmailCodeBtn.attr("disabled", "disabled");
                        getEmailCodeBtn.addClass("layui-disabled");
                        var inter = setInterval(function () {
                            if (time > 1) {
                                getEmailCodeBtn.text(time + "秒后重试");
                                time--;
                            } else {
                                clearInterval(inter);
                                getEmailCodeBtn.text("获取邮箱验证码");
                                getEmailCodeBtn.removeAttr("disabled");
                                getEmailCodeBtn.removeClass("layui-disabled");
                            }
                        }, 1000);
                    }
                });
                
                return false;
            })

            form.verify({
                pass: [
                    /^[\S]{6,16}$/
                    , '密码必须6到16位，且不能出现空格'
                ],
                equalPs: function (value, item) { //value：表单的值、item：表单的DOM对象
                    if (value != $('[name=Password]').val()) {
                        return '两次输入的密码不一致';
                    }
                }
            });
            //发送邮件弹窗
            var index;
            $('#btnGetEmailCode').click(function () {
                let email = $('#L_email').val();
                if (email == '') {
                    layer.msg("请输入邮箱", { icon: 2, time: 1000 });
                    return false;
                }
                $("#recipientEmail").val(email);
                index = layer.open({
                    type: 1,
                    title: "填写验证码",
                    area: 'auto',
                    shadeClose: true,
                    maxWidth: "250px",
                    closeBtn: 1,
                    skin: 'yourclass',
                    content: $('#loginmodal')
                });
                return false;
            });

        });
    </script>
}